@charset "utf-8";


body{
    margin:0px ;
    padding: 0px;
    background-color: #eeeeee;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;

}

*{
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-image: url(/images/bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu a{
    columns: #4a5057;
    font-size: 16px;
    font-family: myriad pro;
    font-weight: 600;
}
.sign-in{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #3d3d3e;
    columns: #3d3d3e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: 700;
    box-shadow: 2px 2px  6px rgba(0, 0, 0, 0.1);
    
}
.sign-in:hover{
    background-color: #4530c3;
    color: #ffffff;
    transition: all ease 0.5s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
}
.box{
    width: 220px;
    height: 310px;
    border-radius: 5px;
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
    background-color:#f6f6f6 ;
    margin: 30px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.box p{
    font-family: calibri;
    text-align: center;
    margin: 0px;
    padding:0px;
    color:#3d3d3e;
}
.slide-detail p:nth-child(2){
    font-size: 18px;
}

.slide-detail{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
    width: 100%;
}
.user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3d3d3e;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.box-img01{
    background-image: url(/images/1.png);
}
.box-img02{
    background-image: url(/images/2.png);
}

.box-img03{
    background-image: url(/images/3.png);
}

.box-img04{
    background-image: url(/images/4.png);
}

.box-img05{
    background-image: url(/images/5.png);
}
.box-img06{
    background-image: url(/images/6.png);
}
.box-img07{
    background-image: url(/images/1.png);
}

.user-img01{
    background-image: url(/images/);
}

.user-img02{
    background-image: url(/images/);
}
.graphic{
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 200px;
    font-family: calibri;
}
.g-heading span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    background-color: #4530c3;


}

.g-heading{
    display: flex;
    align-items: center;
}
.g-details{
    font-size: 14px;
    margin: 10px 0px;
    color: #3d3d3e;
}

.g-heading p{

    font-weight: bold;
    font-size: 20px;
    color: #3d3d3e;
    margin: 0px 10px;
    line-height:25px ;

}
.s-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.s-heading p:nth-child(1){
    font-family: MagmaWave Caps;
    font-weight: bold;
    font-size: 25px;
    color: #3d3d3e;
    width: 40%;
    text-align: center;
    margin: 10px;


}


.s-heading p:nth-child(2){
    font-family: myriad pro;
    font-size: 14px;
    color: #9f9e9e;
    margin-top: 0px;

}

.s-heading{
    margin: 0px 0px 30px 0px;

}

.s-box{
    width: 220px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 5px;
    border-radius: 10px;
}

.s-box:hover{
    transform: scale(1.05);
    transition: all ease-in-out 0.5s;
}

.s-box-container{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.s-icon{
    width: 60px;
    height:60px ;
    border-radius: 50%;
    background-color: #313131;
    margin: 10px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
}

.s-box a{
    font-family: myriad pro;
    font-weight: bold;
    color: #313131;
    font-size: 18px;
    margin: 10px 0px;
}

.s-box p{
    font-family: myriad pro;
    color: #313131;
    font-size: 14px;
}
.s-button{
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #4530c3;
    border: 1px solid #4530c3;
}

.windows-icon{
    background-image: url(/images/front.jpg);
}
.web-icon{
    background-image: url(/images/back.jpg);
}
.mobile-icon{
    background-image: url(/images/seo.jpeg);
}
.basic-icon{
    background-image: url(/images/gui.jpeg);
}

.s-button:hover{
    color: #ffffff;
    background-color: #4530c3;
    transition: all ease 0.5s;
}

button:active{
    transform: scale(1.1);
}

footer{
    background-color:  #2c75ff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-container ul{
    font-family: calibri;
    margin: 0px;
    padding: 0px 20px;

}

.footer-container h1{
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}

.footer-container ul li a{
    display: flex;
    justify-content: space-between;
    padding:3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
} 
